<header>
  <div class="container">
    <div class="left">
      <a href="/">IV</a>
    </div>
    <nav class="nav">
      <a class="light-dark" aria-label="Toggle dark mode">
        <div class="moon" style="display: none">
          <img src="/icons/moon.svg" alt="Enable dark mode icon" width="26" height="26">
        </div>
        <div class="sun" style="display: none">
          <img src="/icons/sun.svg" alt="Enable light mode icon" width="26" height="26">
        </div>
      </a>
      <a href="/blog">BLOG</a>
      <a href="/projects">PROJECTS</a>
    </nav>
  </div>
</header>
