@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk Fallback';
  src: local('Georgia');
  font-weight: 700;
  size-adjust: 110%;
  /* ascent-override: 50%; */
  /* descent-override: 22%; */
  /* line-gap-override: 0%; */
}

@font-face {
  font-family: 'DIN Next Slab Black';
  src: url('/fonts/DINNextSlabBlack.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ioskeley Mono';
  src: url('/fonts/IoskeleyMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}