html, body, .wrapper {
  width: 100vw;
  height: 100vh;
}

html, body, .wrapper, .display {
  margin: 0;
  padding: 0;
  overflow: none;
  background: #080808;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  display: grid;
  font-family: monospace;
  font-size: 32px;
  background: #121217;
}

.cell {
  color: white;
}

/* .line { */
/*   height: 44px; */
/* } */
/**/
/* .cell { */
/*   display: inline-block; */
/*   width: 19.2px; */
/* } */
