@use 'fonts' as *;
@use 'mixins' as *;
@use 'variables' as *;

@view-transition {
  navigation: auto;
}

:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: $header-bg;
  color: $main-color;
}

main {
  flex: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $main-bg;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  transition: box-shadow 0.2s ease, border-color 0.2s ease, background-color 0.1s ease;

  &:not(.scroll) {
    background-color: $header-bg;
    box-shadow: 0 1px 3px $main-shadow-color;
    border-bottom: 1px solid transparent;
  }

  &.scroll {
    background-color: none;
    box-shadow: inset 0 40px 60px 0 $header-bg;
    /* border-bottom: 1px solid $header-border; */
    border-image: linear-gradient(to right, $main-bg, $header-bg, $main-bg) 1;
  }

  >.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0.2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 2rem;
    letter-spacing: -3px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      top: 7px;
      left: -2px;
      right: -6px;
      bottom: 6px;
    }
  }

  img {
    height: 40px;
    width: auto;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    button img {
      filter: invert(1);
      width: 26px;
    }

    a {
      margin-left: 1.5rem;
    }
  }

  a {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: white;
    transition: opacity 0.2s ease;
    font-weight: 600;

    &:hover {
      opacity: 0.7;
    }
  }
}

footer {
  padding: 2rem 0;
  margin-top: auto;
  border-top: 1px solid transparent;
  background-color: $header-bg;
  box-shadow: 0 -1px 3px $main-shadow-color;

  >.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* >.left { */
    /* } */

    >.right {
      font-size: 0.9rem;
      color: white;
      text-align: right;

      a {
        text-decoration: none;
        color: $link-color;
        transition: color 0.2s ease;

        &:hover {
          color: $link-hover-color;
        }
      }

      p,
      img {
        display: inline-block;
      }

      img {
        width: 20px;
        filter: $green-600-filter;
        transform: translateY(5px);
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  header .container {
    /* padding: 1rem; */
  }

  footer {
    padding: 1.5rem 0 1rem 0;

    >.container {
      flex-direction: column;
      gap: 1rem;
      padding: 0 1rem;
      text-align: center;

      .left {
        justify-content: center;
      }

      .right {
        text-align: center;
      }
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  >div {
    padding: 0.3rem 1rem 0.6rem 1rem;
    border: 1px solid $header-border;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    cursor: pointer;

    &:hover {
      background-color: $header-bg-hover;
    }

    img {
      display: inline-block;
      width: 20px;
      filter: $yellow-500-filter;
      transform: translateY(5px);
      margin-right: 10px;
    }

    a {
      padding: 0;
      margin: 0;
      text-decoration: none;
    }

    p {
      display: inline-block;
      padding: 0;
      margin: 0;
      color: $yellow-500;
      font-size: 0.875rem !important;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
  }
}