//! Roughly referenced from https://github.com/rust-lang/crates.io/blob/main/app/app.css

$grey-50: hsl(0, 0%, 100%);
$grey-100: hsl(48, 45%, 95%);
$grey-150: hsl(48, 34%, 92%);
$grey-200: hsl(48, 24%, 90%);
$grey-250: hsl(48, 17%, 86%);
$grey-300: hsl(48, 10%, 82%);
$grey-400: hsl(48, 6%, 73%);
$grey-500: hsl(48, 4%, 64%);
$grey-550: hsl(48, 3%, 58%);
$grey-600: hsl(48, 3%, 51%);
$grey-700: hsl(48, 2%, 41%);
$grey-800: hsl(48, 2%, 31%);
$grey-900: hsl(48, 1%, 20%);
$grey-940: hsl(48, 1%, 10%);
$grey-950: hsl(48, 1%, 8%);
$grey-1000: hsl(48, 1%, 7%);
$grey-1010: hsl(48, 1%, 5%);

$green-300: hsl(150, 100%, 50%);
$green-400: hsl(151, 100%, 47%);
$green-500: hsl(152, 96%, 44%);
$green-600: hsl(152, 100%, 30%);
// use https://htmlcolors.com/hsl-to-hex
// then https://angel-rs.github.io/css-color-filter-generator/
$green-600-filter: brightness(0) saturate(100%) invert(58%) sepia(61%) saturate(6450%) hue-rotate(128deg) brightness(96%) contrast(101%);
$green-link: hsl(151, 79%, 19%);
$green-link2: hsl(120, 100%, 16%);
$green-800: hsl(115, 31%, 31%);
$green-850: hsl(115, 31%, 26%);
$green-890: hsl(115, 31%, 23%);
$green-900: hsl(115, 31%, 21%);
$green-950: hsl(111, 10%, 8%);

$orange-50: hsl(33, 100%, 96%);
$orange-100: hsl(34, 100%, 92%);
$orange-200: hsl(32, 98%, 83%);
$orange-300: hsl(31, 97%, 72%);
$orange-400: hsl(27, 96%, 61%);
$orange-500: hsl(25, 95%, 53%);
$orange-600: hsl(21, 90%, 48%);
$orange-700: hsl(17, 88%, 40%);
$orange-800: hsl(15, 79%, 34%);
$orange-900: hsl(15, 75%, 28%);

$yellow-100: hsl(44, 100%, 90%);
$yellow-500: hsl(44, 100%, 60%);
$yellow-500-filter: brightness(0) saturate(100%) invert(84%) sepia(60%) saturate(2164%) hue-rotate(329deg) brightness(104%) contrast(101%);
$yellow-600: hsl(44, 83%, 55%);
$yellow-700: hsl(44, 67%, 50%);
$yellow-750: hsl(44, 67%, 45%);
$yellow-800: hsl(44, 67%, 20%);
$yellow-900: hsl(44, 30%, 23%);

$main-color: light-dark($grey-900, $grey-100);
$main-color-light: light-dark($grey-600, $grey-500);
$main-shadow-color: light-dark($yellow-900, $green-950);
$main-bg: light-dark($grey-100, $grey-900);
$main-bg-dark: light-dark($grey-200, $grey-950);

$header-bg: light-dark($green-900, $grey-950);
$header-bg-hover: light-dark($green-890, $grey-940);
$header-border: light-dark($green-300, $grey-950);
$header-color: light-dark($grey-100, $grey-100);
$header-border: light-dark($green-850, $grey-900);

$alt-bg: light-dark($grey-200, $grey-950);
$alt-bg-hover: light-dark($grey-250, $grey-940);
$alt-bg-dark: light-dark($grey-150, $grey-1000);
$alt-bg-dark-hover: light-dark($grey-100, $grey-1010);
$alt-color: light-dark($grey-800, $grey-100);
$alt-color-alt: light-dark($grey-700, $grey-500);

$grey-border: light-dark($grey-300, $grey-700);
$link-color: light-dark($green-link2, $green-500);
$link-hover-color: light-dark($green-600, $green-300);

$stats-icon-color: rgb(184, 77, 148);
$stats-icon-filter: brightness(0) saturate(100%) invert(45%) sepia(26%) saturate(1236%) hue-rotate(267deg) brightness(85%) contrast(92%);

$font-fancy: 'DIN Next Slab Black', sans-serif;
$font-main: 'Space Grotesk', sans-serif;
$font-mono: 'Ioskeley Mono', monospace;