@use 'main' as *;
@use 'mixins' as *;
@use 'variables' as *;

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 1.5rem;
}

#content {
  width: 100%;
  max-width: 800px;
  padding: 0;
  border-radius: 20px;
}

@media (max-width: 580px) {
  main {
    padding: 1rem 0.75rem;
  }
}

@media (max-width: 500px) {
  .posts .top {
    flex-wrap: wrap;
  }
}

.posts {
  list-style-type: none;

  li {
    position: relative;
    background: $alt-bg;
    color: $alt-color-alt;
    transition: background-color 0.2s ease;
    border-radius: 0.5rem;
    padding: 1.2rem 1.5rem 1rem 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 1px 3px $main-shadow-color;

    &.highlight {
      z-index: 20;
      box-shadow: 0 0 3px $yellow-500;
      border: 1px solid $yellow-500;
    }

    >.top {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;

      >.info {
        a {
          display: block;
          color: $alt-color;
          font-size: 1.25rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
          text-decoration: none;
          cursor: pointer;
          transition: color 0.2s ease;

          &:hover {
            color: $link-hover-color;
          }
        }
      }

      >.stats {
        >div {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          gap: 4px;

          * {
            white-space: nowrap;
          }

          img {
            width: 22px;
          }

          p>img {
            transform: translateY(3px);
          }

          :nth-child(2) {
            font-weight: bold;
          }
        }

        >div:not(.lang) {
          img {
            filter: $stats-icon-filter;
          }
        }
      }
    }


    >.quick-links {
      width: 100%;

      &:has(*) {
        margin-top: 1rem;
      }

      a {
        text-decoration: none;
        color: $link-color;
        transition: color 0.2s ease;
        font-size: 90%;
        margin-right: 1rem;

        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}