@use 'main' as *;
@use 'mixins' as *;

header {
  /* border-bottom: none !important; */
}

#hero {
  padding: 0 0 4rem 0;
  margin: 0;
  border-bottom: 1px solid #666;
  box-shadow: 0 25px 25px 10px black;

  >h1 {
    font-family: 'Space Mono';
    font-weight: 700;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
    line-height: 1;
    text-shadow: 3px 2px #33ffcc, -3px -2px #ab18dc;
    font-size: min(35vw, 200px);
  }

  >.content {
    @include container(800px, 0 2rem);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 1rem;
  }

  a {
    @include button();
    margin: 10px 0 0 10px;
  }
}

#sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;

  >section {
    padding: 14px 0 4rem 0;
    width: 100%;
    z-index: 20;

    &:not(:last-child) {
      box-shadow: 0 25px 25px 10px black;
    }

    &:not(:first-child) {
      border-top: 1px solid #666;
    }

    >.header {
      @include container(1200px, 0);
      @include flex-center(row, space-between, center);
      @include uppercase-text();
      margin-bottom: 3rem;
      font-weight: 600;
    }
  }

  .grid {
    @include flex-center(row, center, stretch);
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    >a {
      @include card();
      box-shadow: inset 0 0 20px 40px black;
      padding: 2rem;
      max-width: 280px;
      text-decoration: none;
      color: inherit;
      margin: -0.5px;
      cursor: pointer;
      border-radius: 3px;

      .date {
        margin-bottom: 0;
      }

      &.highlight {
        z-index: 20;
        border-color: #ab18dc;
      }

      &.highlight:hover * {
        color: #b957da;
      }
    }
  }

  h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }

  p {
    margin-bottom: 1rem;
  }
}