@use 'main' as *;
@use 'mixins' as *;

header {
  /* border-bottom: none !important; */
}

#hero {
  padding: 0 0 4rem 0;
  margin: 0;
  border-bottom: 1px solid #666;
  box-shadow: 0 25px 25px 10px black;

  >h1 {
    font-family: 'Space Mono';
    font-weight: 700;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
    line-height: 1;
    text-shadow: 3px 2px #33ffcc, -3px -2px #ab18dc;
    font-size: min(35vw, 200px);
  }

  >div {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  p,
  li {
    font-size: 1.2rem;
  }

  ol,
  ul {
    list-style-position: inside;
    margin-bottom: 1rem;
  }

  a {
    @include button();
    margin: 1.2rem 0 0 0.5rem;
  }
}

#sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;

  >section {
    padding: 14px 0 4rem 0;
    width: 100%;
    z-index: 20;

    &:not(:last-child) {
      box-shadow: 0 25px 25px 10px black;
    }

    &:not(:first-child) {
      border-top: 1px solid #666;
    }

    >.header {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: 3rem;
      font-weight: 600;
    }
  }

  h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.posts {
  flex-direction: row;
  padding: 0;
  margin: 0;

  >a {
    box-shadow: inset 0 0 20px 40px black;
    padding: 2rem;
    max-width: 280px;
    margin: -0.5px;
    border-radius: 3px;
  }
}