@use 'main' as *;
@use 'mixins' as *;
@use 'variables' as *;

header:not(.scroll) {
  box-shadow: none;
}

#hero {
  padding: 0 0 2rem 0;
  margin: 0;
  background-color: $header-bg;
  color: $header-color;
  box-shadow: 0 1px 5px $header-bg;

  >h1 {
    font-family: $font-fancy;
    font-weight: 700;
    text-align: center;
    margin: 0 1rem 1.5rem 1rem;
    padding: 1rem 0 0 0;
    line-height: 0.7;
    font-size: min(35vw, 165px);
  }

  >div {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;

    h2 {
      font-family: $font-fancy;
      font-size: 1.9rem;
      margin-bottom: 0.3rem;
    }

    >* {
      margin-bottom: 1rem;
    }

    p,
    li {
      font-size: 1.2rem;
    }

    ol,
    ul {
      list-style-position: inside;
      margin-bottom: 1rem;
    }

    .social {
      margin-top: 1.5rem;
    }

    p {
      display: inline-block;
    }

    // ferris
    li img {
      display: inline-block;
      transform: translateY(3px);
    }

    a {
      color: $link-color;

      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

#sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;

  >section {
    padding: 14px 0 4rem 0;
    width: 100%;
    z-index: 20;

    &:not(:first-child) {
      border-top: 5px solid $grey-border;
    }

    >.header {
      padding: 0;
      font-size: 1.8rem;
      margin-bottom: 3rem;
      font-weight: 600;
      font-family: $font-fancy;

      a {
        text-decoration: none;
        color: $main-color;
        transition: color 0.2s ease;

        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

.posts {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;

  >li {
    background: $alt-bg;
    color: $alt-color-alt;
    text-decoration: none;
    transition: background-color 0.2s ease;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem 0.9rem 1rem;
    max-width: 280px;
    box-shadow: 0 1px 3px $main-shadow-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info {
      a {
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
        color: $alt-color;
        margin: 0;
        text-decoration: none;
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
          color: $link-hover-color;
        }
      }
    }

    &.highlight {
      z-index: 20;
      box-shadow: 0 0 3px $yellow-500;
      border: 1px solid $yellow-500;
    }

    >.quick-links {
      margin-top: auto;
      width: 100%;

      &:has(*) {
        margin-top: 1rem;
      }

      a {
        text-decoration: none;
        color: $link-color;
        transition: color 0.2s ease;
        font-size: 90%;
        margin-right: 1rem;
        white-space: nowrap;

        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  #sections {
    padding: 0 1rem;

    >section {
      padding: 0.5rem 0 1.3rem 0;

      >.header {
        margin-bottom: 0.5rem;
      }
    }
  }

  .posts {
    flex-direction: column;

    >li {
      width: 100%;
      max-width: 100%;
    }

  }
}