@use 'main' as *;
@use 'mixins' as *;
@use 'variables' as *;

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.3rem 1rem 2rem 1rem;
}

#content {
  width: 100%;
  max-width: 1000px;
  padding: 0;
}

#post-header,
#post-body {
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  background: $alt-bg;
  box-shadow: 0 1px 3px $main-shadow-color;
}

#post-header {
  margin-bottom: 1.5rem;
}

@media (max-width: 550px) {
  main {
    padding: 0;
  }

  #content {
    border-top: 2px solid light-dark(transparent, $grey-border);
    border-bottom: 2px solid light-dark(transparent, $grey-border);
  }

  #post-body,
  #post-header {
    border-radius: 0;
    padding: 1rem 1rem;
    margin: 0;
  }

  #post-header {
    padding-top: 1.2rem;
    border-bottom: 5px solid $grey-border;
  }
}

@media (max-width: 400px) {

  #post-body,
  #post-header {
    padding: 0.6rem 0.6rem;
  }

  #post-header {
    padding-top: 0.8rem;
  }
}

#post-header {
  font-size: 105%;

  #post-info {
    h2 {
      font-size: 2.4em;
      line-height: 1;
      margin: 0 0 0.8rem 0;
      font-weight: 900;
      z-index: 10;
    }

    p {
      color: $alt-color-alt;
    }
  }

  #post-stats {
    margin: 0.5rem 0 0 1rem;
    list-style-type: none;

    >li {
      * {
        display: inline-block;
      }

      strong {
        margin-right: 2px;
      }

      p {
        color: $alt-color-alt;
      }

      img {
        width: 22px;
        transform: translateY(6px);
        margin-right: 2px;
        filter: $stats-icon-filter;
      }
    }
  }

  #post-quick-links {
    /* flex: 0 0 100%; */
    margin-top: 1rem;

    a {
      text-decoration: none;
      color: $link-color;
      transition: color 0.2s ease;
      margin-right: 1rem;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

}

#post-body {
  >:first-child {
    margin-top: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  a:not(.post-back):not(.post),
  ol,
  ul,
  li,
  p:not(:has(img)) {
    position: relative;
    width: fit-content;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  h2 {
    font-size: 2em;
    margin-top: 1.2em;
    line-height: 1.2;
    position: relative;
    display: flex;
    /* transform: translateY(0.7em); */
    width: 100%;

    &::after {
      content: "";
      border-top: 1px solid light-dark($yellow-500, $grey-900);
      height: 1.5em;
      margin-left: 0.5em;
      flex: 1;
      transform: translateY(0.5em);
    }
  }

  h3 {
    font-size: 1.6em;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    line-height: 1.2;
    /* transform: translateY(0.5em); */
  }

  h4 {
    margin-top: 0.6em;
    font-size: 1.3em;
    /* transform: translateY(0.3em); */
  }

  h5 {
    margin-top: 0.2em;
    font-size: 1em;
    /* transform: translateY(0.1em); */
  }

  h6 {
    margin-top: 0.1em;
    font-size: 0.8em;
  }

  ol+p,
  ul+p,
  p+p {
    margin-top: 1em;
  }

  ol,
  ul {
    margin-left: 1em;
    list-style-position: outside;
    padding-left: 1rem;
  }

  p,
  a,
  li {
    font-size: 20px;
  }

  li::marker {
    color: #706a63;
  }

  a:not(.post) {
    text-decoration: none;
    color: $link-color;
    transition: color 0.2s ease;

    &:hover {
      color: $link-hover-color;
    }

    &[href^="http"]:not([href*="liamsnow.com"])::after {
      content: "↗";
      font-size: 0.8em;
      margin-left: 0.2em;
      display: inline-block;
      position: relative;
      top: -0.2em;
    }
  }

  code {
    font-family: $font-mono;
  }

  // block code
  pre:has(code) {
    margin: 2rem 0;
    border-radius: 6px;
    box-shadow: 0 1px 1px $grey-900;
    padding: 0.6rem 0.8rem;
    background: $main-bg !important;
    overflow-x: scroll;
    font-size: 16px;
  }

  // inline code
  code:not(pre code) {
    color: light-dark($yellow-800, $yellow-500);
    border-radius: 4px;
    padding: 0 2px;
    font-size: 19px; // idk looks closer sized
  }

  p:has(img) {
    z-index: 50;
  }

  img {
    max-width: 100%;
    border-radius: 8px;
    z-index: 50;
    box-shadow: 0 1px 3px $grey-900;
    margin: 1rem 0;
  }
}


.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  >.post {
    max-width: 250px;
    border-radius: 0.5rem;
    padding: 0.6rem 0.8rem;
    box-shadow: 0 1px 3px $grey-900;

    background-color: $alt-bg-dark;
    color: $main-color;
    text-decoration: none;

    transition: background-color 0.2s ease;

    &:hover {
      background-color: $alt-bg-dark-hover;
    }

    >.title {
      font-weight: bold;
    }

    >.desc {
      font-size: 0.80em;
    }

    >*:not(:last-child) {
      margin-bottom: 0.7rem;
    }
  }
}