/* NAME */
#name {
  color: rgb(255, 165, 0);
  margin: 0;
  vertical-align: top;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  line-height: 1.15em;
  letter-spacing: -0.05em;
  white-space: pre;
}

#caption {
  margin: 90px 0;
  font-size: 20px;
}

#links * {
  cursor: pointer;
}

#links a {
  padding: 0px 4px 1px 4px;
  font-size: 24px;
  display: block;
  margin-bottom: 24px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
}

#links a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(255, 165, 0);
}

#links a p {
  margin: 0;
}

#links a :nth-child(2) {
  margin-left: 120px;
  color: rgb(255, 165, 0);
}

#links a.selected {
    background: #ffffffcc;
    color: black;
}
