@use 'main' as *;
@use 'mixins' as *;

#content {
  a {
    text-align: center;
    width: 100%;
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 3px;
  }
}

#posts {
  @include flex-center(row, center, stretch);
  padding: 2rem 1rem;
  flex-wrap: wrap;

  .post {
    @include card(black, #222, 1rem);
    margin: 1rem;
    text-decoration: none;
    max-width: 300px;
    border-radius: 3px;

    &:link {
      color: white;
    }

    &:visited {
      color: #c8c4ff;
    }
  }
}