#box {
  padding: 0 40px;
}

h1, h2, h3, h4, h5 {
  font-family: "mem 5x6";
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

p,
code,
a, li {
  font-size: 20px;
}

li::marker {
  color: #706a63;
}

p, li {
  color: #ada69c;
}

a {
  color: rgb(255, 165, 0);
  text-decoration: none;
  transition: background-color 50ms cubic-bezier(0.4, 0.0, 0.2, 1),
    color 50ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

a:hover {
  /* text-decoration: underline; */
  /* text-decoration-style: wavy; */
  background: rgb(255, 165, 0);
  color: black;
}

/* block code */
pre:has(code) {
  border: 1px solid #222;
  border-radius: 5px;
  font-size: 14px;
  padding: 20px;
  background: none !important;
  overflow-x: scroll;
}

/* inline code */
code:not(pre code) {
   background: linear-gradient(to left, #33ffccee, #33ccffee);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  /* color: #e8e6e3; */
}

code:not(pre code)::before,
code:not(pre code)::after {
  content: "`";
}
